body{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    
}

.form1{
    
    height:100px;
    width: 150px;
}
.inputBox{
    display:flex;
    justify-content: center;
    align-items: center;
}